<%inherit file="/base.tmpl"/>
<%block name="content">
<section>
<header>
<h2>Interactive type information</h2>
</header>
<p>Enter either a typing (e.g. "Dark" or "Fire/Water") or a Touhoumon name.
Names should correspond to the names found in Shoddy Touhoumon. Abbreviations such as
"CMomiji" in place of "Chibi Momiji" are supported. Please note that some
names are longer than displayed in the games (e.g. CStar would be Chibi Star Sapphire).
</p>
<form action="${make_url('interactive:index')}" method="post" onsubmit="return false;">
<p>
<label for="search">Typing/Name:</label>
<input type="text" id="search" name="search"></input>
<input type="submit" id="interactive_submit"></input>
</p>
</form>
</section>

<script type="text/javascript">
$(function() {
	// AJAX callback to get result from server for search text
	var getSearchResult = function(searchText) {
		$('#search').val('');
		// Make sure to close the autocompletion field on submit
		$('#search').autocomplete('close');
		if (searchText) {
			$.post("${make_url('interactive:get_info')}",
				"search=" + encodeURIComponent(searchText),
				function(data, textStatus, jqXHR) {
					$('#interactive_output').html(data);
				});
		}
	};
	$('#interactive_submit').click(function () {
		getSearchResult($('#search').val());
	});

	// Add autocompletion to input field
	<%
	completionNames.sort()
	autoComplete = ','.join(["'{0}'".format(name) for name in completionNames])
	%>
	var completionNames = [${autoComplete}];
	$('#search').autocomplete({
		source: completionNames,
		delay: 25,
		minLength: 3,
		select: function(evt, ui) {
			// Submit form as soon as item has been selected
			getSearchResult(ui.item.label);
			evt.preventDefault();
		}
	});
});
</script>

<section id="interactive_output">
${output}
</section>
</%block>
