<%inherit file="/base.tmpl"/>
<%block name="content">
<section>
<header>
<h2>Interactive type information</h2>
</header>
<p>Enter either a typing (e.g. "Dark" or "Fire/Water") or a Touhoumon name.
Names should correspond to the names found in Shoddy Touhoumon. Abbreviations such as
"CMomiji" in place of "Chibi Momiji" are supported. Please note that some
names are longer than displayed in the games (e.g. CStar would be Chibi Star Sapphire).
</p>
<form action="${make_url('interactive:index')}" method="post" onsubmit="return false;">
<p>
<label for="search">Typing/Name:</label>
<input type="text" id="search" name="search"></input>
<input type="submit" id="interactive_submit"></input>
</p>
</form>
</section>

<script type="text/javascript">
$(function() {
	<%
	autoComplete = ','.join(["'{0}'".format(name) for name in completionNames])
	%>
	var completionNames = [${autoComplete}];
	$('#search').autocomplete({
		source: completionNames,
		delay: 25,
		minLength: 3
	});
});
</script>

<section id="interactive_output">
${output}
</section>

<script type="text/javascript">
document.getElementById("interactive_submit").addEventListener('click', function(evt) {
	var input = document.getElementById('search');
	var search = input.value;
	input.value = "";
	if (!search)
		return;

	var req = new XMLHttpRequest();
	req.onreadystatechange = function() {
		if(req.readyState == 4) {
			var outputarea = document.getElementById('interactive_output');
			outputarea.innerHTML = req.responseText;
		}
	}
	
	req.open("POST", "${make_url('interactive:get_info')}", true);
	req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	req.send("search=" + encodeURIComponent(search));
}, false);
</script>
</%block>
